.image {
    width: 100%;
    height: auto;
}

.tag {
    padding: 0.2em 0.5em;
    margin: 0 0.2em;
    border-radius: 4px;
    color: white;
}

.tag.html {
    background-color: green;
}

.tag.css {
    background-color: pink;
}

.tag.js {
    background-color: yellow;
}

.tag.php {
    background-color: blue;
}